<!doctype html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/layout/master}">

<head>
    <base href="/dashboard/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dashboard</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../favicon-admin.png">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta name="description" content="CODEDY @ Cloud Kitchen - TechWiz 2021">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="tailwind.min.css" rel="stylesheet">

    <link href="main.css" rel="stylesheet">
    <link href="my_style.css" rel="stylesheet">
</head>

<body>

            <!-- Main -->
            <div layout:fragment="content" class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-plugin icon-gradient bg-night-fade"></i>
                            </div>
                            <div>
                                Product
                                <div class="page-title-subheading">
                                    View, create, update, delete and manage.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                    <li class="nav-item">
                        <a th:href="@{|/admin/product/${product.id}/edit|}" class="nav-link">
                                <span class="btn-icon-wrapper pr-2 opacity-8">
                                    <i class="fa fa-edit fa-w-20"></i>
                                </span>
                            <span>Edit</span>
                        </a>
                    </li>

                    <li class="nav-item delete">
                        <form class="d-inline" th:action="@{|/admin/product/${product.id}|}" method="post">
                            <button class="btn nav-link"
                                    onclick="return confirm('Do you really want to delete this item?')">
                                <span class="btn-icon-wrapper opacity-8">
                                    <i class="fa fa-trash fa-w-20"></i>
                                </span>
                                <span class="ml-1"> Delete</span>
                            </button>
                        </form>
                    </li>
                </ul>

                <div class="row">
                    <div class="col-md-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body display_data">
                                <div class="position-relative row form-group">
                                    <label for="image" class="col-md-3 text-md-right col-form-label">Image</label>
                                    <div class="col-md-9 col-xl-8">
                                        <p>
                                            <img style="height: 200px;" class="" data-toggle="tooltip"
                                                 title="Avatar" data-placement="bottom"
                                                 th:src="@{|../front/data-images/products/${product.image}|}" alt="Avatar">
                                        </p>
                                    </div>
                                </div>

                                <div class="position-relative row form-group">
                                    <label for="name" class="col-md-3 text-md-right col-form-label">
                                        Name
                                    </label>
                                    <div class="col-md-9 col-xl-8">
                                        <p th:text="${product.name}">[[(${product.name})]]</p>
                                    </div>
                                </div>

                                <div class="position-relative row form-group">
                                    <label for="company_name" class="col-md-3 text-md-right col-form-label">
                                        Category
                                    </label>
                                    <div class="col-md-9 col-xl-8">
                                        <p th:text="${product.productCategory.name}"></p>
                                    </div>
                                </div>
                                <div class="position-relative row form-group">
                                    <label for="email" class="col-md-3 text-md-right col-form-label">Restaurant</label>
                                    <div class="col-md-9 col-xl-8">
                                        <p th:text="${product.restaurant.name}"></p>
                                    </div>
                                </div>

                                <div class="position-relative row form-group">
                                    <label for="description"
                                           class="col-md-3 text-md-right col-form-label">Price</label>
                                    <div class="col-md-9 col-xl-8">
                                        <p th:text="${product.price}"></p>
                                    </div>
                                </div>

                                <div class="position-relative row form-group">
                                    <label for="description"
                                           class="col-md-3 text-md-right col-form-label">Ingredients</label>
                                    <div class="col-md-9 col-xl-8">
                                        <p th:text="${product.ingredients}"></p>
                                    </div>
                                </div>


                                <div class="position-relative row form-group">
                                    <label for="country"
                                           class="col-md-3 text-md-right col-form-label">Country</label>
                                    <div class="col-md-9 col-xl-8">
                                        <p th:text="${product.country}"></p>
                                    </div>
                                </div>

                                <div class="position-relative row form-group">
                                    <label for="street_address" class="col-md-3 text-md-right col-form-label">
                                        Description</label>
                                    <div class="col-md-9 col-xl-8" th:utext="${product.description}">[(${product.description})]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main -->

</body>

</html>
