<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/_layout/master}">

<head>
    <base href="/front/">
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=" - Cloud Kitchen @ Codedy - TechWiz 2021 - FPT Aptech">
    <meta name="keywords" content=", CODEDY, Cloud Kitchen, TechWiz, FPT Aptech"/>

    <meta name="language" content="vi">
    <meta name="language" content="en">
    <meta http-equiv="content-language" content="vi">
    <meta http-equiv="content-language" content="en">

    <meta name="copyright" content="CODEDY">
    <meta name="author" content="Hieu iceTea, DinhHieu8896@gmail.com">

    <!-- Title -->
    <title>Cloud Kitchen | My Order</title>

    <meta name="robots" content="noodp,index,follow"/>
    <meta name='revisit-after' content='1 days'/>

    <meta name="geo.region" content="VN-HN"/>
    <meta name="geo.placename" content="Hà Nội"/>
    <meta name="geo.position" content="21.024813;105.853297"/>
    <meta name="ICBM" content="21.024813, 105.853297"/>

    <meta property="og:title" content="My Order | Cloud Kitchen - TechWiz 2021 @ CODEDY"/>
    <meta property="og:type" content="food"/>
    <meta property="og:url" content="http://127.0.0.1:8000/account/my-order"/>
    <meta property="og:image" content="http://127.0.0.1:8000/openGraph_image_default.jpg"/>
    <meta name="url" content="http://127.0.0.1:8000/">

    <meta name="fb:page_id" content="107928264386009"/>

    <meta name="og:email" content="codedy.dev@gmail.com"/>
    <meta name="og:phone_number" content="+84868663315"/>

    <!-- Favicons -->
    <link rel="shortcut icon" href="../favicon-front.png" type="image/x-icon">
    <!--<link rel="apple-touch-icon" href="assets/img/favicon_60x60.png">-->
    <!--<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon_76x76.png">-->
    <!--<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon_120x120.png">-->
    <!--<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon_152x152.png">-->

    <!-- Fonts -->
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&amp;family=Raleway:wght@100;200;400;500&amp;display=swap"
            rel="stylesheet">

    <!-- CSS Core -->
    <link rel="stylesheet" href="dist/css/core.css"/>

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="dist/css/theme-beige.css"/>

    <!-- CSS Custom -->
    <link rel="stylesheet" href="dist/css/custom.css"/>
</head>

<body>

        <!--  MAIN HERE -->

    <main layout:fragment="content">

        <!-- Page Title -->
        <div class="page-title bg-dark dark">
            <!-- BG Image -->
            <div class="bg-image bg-parallax"><img src="data-images/photos/bg-croissant.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-4">
                        <h1 class="mb-0">My Order</h1>
                        <h4 class="text-muted mb-0">Some informations about your order</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section -->
        <section class="section bg-light">

            <div class="container ">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="cart-details shadow bg-white mb-4">
                            <div class="bg-dark dark p-4">
                                <h5 class="mb-0">
                                    <i class="ti ti-time mr-2"></i>
                                    List of my orders history
                                    <span th:text="${'(' + orders.size() + ')'}"></span>
                                </h5>
                            </div>

                            <div class="table-responsive">
                                <table class="cart-table-show table-hover">
                                    <tr>
                                        <th>ID</th>
                                        <th style="width: 160px">Image</th>
                                        <th>Items</th>
                                        <th>Status</th>
                                        <th class="text-right">Total</th>
                                        <th class="text-right">
                                            Action
                                        </th>
                                    </tr>

                                    <tr th:each="order : ${orders}">
                                        <td class="title" th:text="${'#' + order.id}"></td>
                                        <td>
                                            <img
                                                    th:src="@{|../front/data-images/products/${order.orderDetails[0].product.image}|}"
                                                    style="max-height: 80px; min-width: 90px" alt="">
                                        </td>
                                        <td class="title">
                                            <span class="name">
                                                <span th:text="${order.orderDetails[0].product.name}"></span>

                                                <span th:if="${order.orderDetails.size() > 1}"
                                                      th:text="${'(and ' + (order.orderDetails.size() - 1) + ' other items)'}"></span>
                                            </span>

                                        </td>
                                        <input type="text" name="id" value="24" hidden>
                                        <td class="title" th:text="${order.status}">Accept</td>
                                        <td class="price" th:text="${'$' + order.totalAmount}">68.75$</td>
                                        <td class="actions">
                                            <a th:href="@{|/account/my-order/${order.id}|}" class="action-icon">
                                                <i class="ti ti-eye"></i>
                                                Detail
                                            </a>
                                        </td>
                                    </tr>

                                </table>
                            </div>

                        </div>
                        <div class="justify-content-center">
                        <span class="d-inline-block ml-1">
                            Showing
                            1
                            to
                            8
                            of
                            17
                            results
                        </span>
                            <span class="d-inline-block float-right">
                            <nav role="navigation" aria-label="Pagination Navigation" class="flex justify-between">
        
                    <span class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md">
                &laquo; Previous
            </span>
        
        
                    <a href="http://127.0.0.1:8000/account/my-order?page=2" rel="next" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                Next &raquo;
            </a>
            </nav>

                        </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container d-none">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="cart-details shadow bg-white mb-4">
                            <div class="bg-dark dark p-4">
                                <h5 class="mb-0">
                                    Please
                                    <a href="../account/login" style="text-decoration: underline">login</a>
                                    to view your order history!</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>

        <!--  end MAIN HERE -->

</body>


</html>
