<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/_layout/master}">

<head>

    <!-- Title -->
    <title>My Order</title>

</head>

<body>


        <!--  MAIN HERE -->

    <main layout:fragment="content">

        <!-- Page Title -->
        <div class="page-title bg-dark dark">
            <!-- BG Image -->
            <div class="bg-image bg-parallax"><img src="data-images/photos/bg-croissant.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-4">
                        <h1 class="mb-0">My order</h1>
                        <h4 class="text-muted mb-0">Some informations about your checkout</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section -->
        <section class="section bg-light">

            <div class="container">
                <div class="row">

                    <div class="col-xl-6 col-lg-6">
                        <div class="cart-details shadow bg-white  mb-4">
                            <div class="bg-dark dark p-4"><h5 class="mb-0">Products list</h5></div>

                            <div class="table-responsive">
                                <table class="cart-table-show table-hover">

                                    <tr th:each="orderDetail : ${order.orderDetails}">
                                        <td>
                                            <img th:src="@{|../front/data-images/products/${orderDetail.product.image}|}"
                                                 style="max-height: 80px; min-width: 90px" alt="product-image">
                                        </td>
                                        <td class="title">
                                        <span class="name" th:text="${orderDetail.product.name}">
                                                Best Lentil Soup
                                        </span>
                                            <span
                                                    class="caption text-muted" th:text="${orderDetail.qty + ' item x $' + orderDetail.amount}">2 item x $10.59</span>
                                        </td>
                                        <td class="price" th:text="${(orderDetail.amount * orderDetail.qty) + '$'}">$21.18 </td>
                                    </tr>

                                </table>
                            </div>

                            <div class="cart-summary">
                                <div class="row">
                                    <div class="col-7 text-right text-muted">Order total:</div>
                                    <div class="col-5"><strong>$<span
                                            class="cart-products-total-show" th:text="${order.totalAmount}">68.75</span></strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-7 text-right text-muted">Devliery:</div>
                                    <div class="col-5"><strong>$<span class="cart-delivery-show">0.00</span></strong>
                                    </div>
                                </div>
                                <hr class="hr-sm">
                                <div class="row text-lg">
                                    <div class="col-7 text-right text-muted">Total:</div>
                                    <div class="col-5"><strong>$<span
                                            class="cart-total-show" th:text="${order.totalAmount}">68.75</span></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 order-lg-first container">


                        <div class="bg-white p-4">

                            <div class="border-bottom">
                                <div class="row">

                                    <div class="col-12 col-md-6 mt-3 mt-md-1">
                                        <div class="h4 mb-3">
                                            <i class="ti ti-user mr-3 text-primary"></i>
                                            Order information
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 mt-3 mt-md-1 mb-3 text-left text-md-right">
                                    </div>
                                </div>
                            </div>


                            <div class="row mt-4 mb-0">
                                <div class="form-group col-sm-6">
                                    <label>First Name:</label>
                                    <p class="font-weight-bold" th:text="${order.user.firstName}">CODEDY</p>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Last Name:</label>
                                    <p class="font-weight-bold" th:text="${order.user.lastName}">Customer</p>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Phone number:</label>
                                    <p class="font-weight-bold" th:text="${order.user.phone}">0868 6633 15</p>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>E-mail address:</label>
                                    <p class="font-weight-bold" th:text="${order.user.email}">codedy.demo@gmail.com</p>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Street and number:</label>
                                    <p class="font-weight-bold" th:text="${order.deliveryAddress}">8, Ton That Thuyet, My Dinh, Ha Noi</p>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label>Status:</label>
                                    <p class="font-weight-bold" th:text="${order.status}">Accept</p>
                                </div>


                            </div>


                            <h4 class="border-bottom pb-4 d-none"><i class="ti ti-wallet mr-3 text-primary"></i>Payment
                            </h4>
                            <div class="row text-lg d-none">
                                <div class="col-md-4 col-sm-6 form-group">
                                    <label class="custom-control custom-radio">
                                        <input disabled type="radio"
                                               name="payment_type" value="1"
                                               checked
                                               class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Cash</span>
                                    </label>
                                </div>
                                <div class="col-md-4 col-sm-6 form-group">
                                    <label class="custom-control custom-radio">
                                        <input disabled type="radio"
                                               name="payment_type" value="2"

                                               class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">VnPay</span>
                                    </label>
                                </div>
                                <div class="col-md-4 col-sm-6 form-group">
                                    <label class="custom-control custom-radio">
                                        <input disabled type="radio"
                                               name="payment_type" value="3"

                                               class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Credit Card</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main>

        <!--  end MAIN HERE -->

</body>


</html>
