<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/_layout/master}">

<head>

    <!-- Title -->
    <title th:text="${'Restaurant - ' + restaurant.name}"></title>

</head>

<body>

        <!--  MAIN HERE -->

    <main layout:fragment="content">

        <!-- Section -->
        <section class="section section-bg-edge mb-3 mt-2">

            <div class="section section-double border-top page-content bg-light">
                <div class="row no-gutters flex-md-row-reverse">
                    <div class="container col-xl-4 col-md-5" data-local-scroll>
                        <h2 th:text="${restaurant.name}"></h2>
                        <p class="lead text-muted" th:text="${restaurant.address}"></p>
                        <ul class="list-check text-lg" th:utext="${restaurant.description}"></ul>
                        <a href="#menu" class="btn btn-primary"><span>Go to Menu</span></a>
                        <a href="/restaurant" class="btn btn-link"><span>Back</span></a>
                    </div>
                    <div class="image left bottom col-md-7">
                        <div class="bg-image">
                            <img th:src="@{|data-images/restaurants/${restaurant.image}|}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Page Title -->
        <div class="page-title bg-light pt-4 pb-5" id="menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="mb-0">Menu</h1>

                        <h4 class="text-muted mb-0">
                            For this restaurant
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="page-content">
            <div class="container">
                <form action="" method="get" class="">
                    <input type="hidden" name="restaurant_id" value="">
                    <div class="row text-lg">

                        <div class="col-md-3 col-sm-6 form-group">
                            <label class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input"
                                       name="tag[]"
                                       value="Breakfast"
                                       checked
                                       onchange="this.form.submit();">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Breakfast</span>

                            </label>
                        </div>
                        <div class="col-md-3 col-sm-6 form-group">
                            <label class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input"
                                       name="tag[]"
                                       value="Lunch"
                                       checked
                                       onchange="this.form.submit();">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Lunch</span>

                            </label>
                        </div>
                        <div class="col-md-3 col-sm-6 form-group">
                            <label class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input"
                                       name="tag[]"
                                       value="Dinner"
                                       checked
                                       onchange="this.form.submit();">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Dinner</span>

                            </label>
                        </div>
                        <div class="col-md-3 col-sm-6 form-group">
                            <label class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input"
                                       name="tag[]"
                                       value="Snacks"
                                       checked
                                       onchange="this.form.submit();">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Snacks</span>

                            </label>
                        </div>

                    </div>

                    <div class="row mb-4">
                        <div class="form-group col-sm-12">
                            <input type="text" name="search" value="" placeholder="Search..."
                                   class="form-control">
                        </div>
                    </div>
                </form>

                <div class="row no-gutters">
                    <div class="col-md-3">
                        <!-- Menu Navigation -->
                        <nav id="menu-navigation" class="stick-to-content" data-local-scroll>
                            <ul class="nav nav-menu bg-dark dark">
                                <li><a href="#Vegetarian">Vegetarian</a></li>
                                <li><a href="#Drinks">Drinks</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-9">

                        <!-- Menu Category -->
                        <div id="Vegetarian" class="menu-category">
                            <div class="menu-category-title">
                                <div class="bg-image"><img
                                        src="data-images/categories/Vegetarian.jpg" alt="">
                                </div>
                                <h2 class="title">Vegetarian</h2>
                            </div>

                            <div class="menu-category-content padded">
                                <div class="row gutters-sm">
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/1/best-lentil-soup.html">
                                                <img class="mb-4"
                                                     src="data-images/products/Best Lentil Soup.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/1/best-lentil-soup.html">
                                                    Best Lentil Soup
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            Includes vegetables and flour
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>10.59</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(1)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/2/crispy-baked-falafel.html">
                                                <img class="mb-4"
                                                     src="data-images/products/Crispy Baked Falafel.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/2/crispy-baked-falafel.html">
                                                    Crispy Baked Falafel
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            Includes several healthy vegetables
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>13.89</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(2)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/3/peanut-slaw-with-soba-noodles.html">
                                                <img class="mb-4"
                                                     src="data-images/products/Peanut Slaw with Soba Noodles.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/3/peanut-slaw-with-soba-noodles.html">
                                                    Peanut Slaw with Soba Noo ...
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            cabbage, carrots, scallions, peanut ...
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>18.39</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(3)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/4/black-bean-sweet-potato-enchiladas.html">
                                                <img class="mb-4"
                                                     src="data-images/products/Black Bean Sweet Potato Enchiladas.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/4/black-bean-sweet-potato-enchiladas.html">
                                                    Black Bean Sweet Potato E ...
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            Include black beans, sweet potatoes ...
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>15.29</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(4)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/5/spaghetti-squash-burrito-bowls.html">
                                                <img class="mb-4"
                                                     src="data-images/products/Spaghetti Squash Burrito Bowls.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/5/spaghetti-squash-burrito-bowls.html">
                                                    Spaghetti Squash Burrito  ...
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            pumpkin, olive oil, monosodium glut ...
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>16.39</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(5)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/6/spicy-sweet-potato.html">
                                                <img class="mb-4"
                                                     src="data-images/products/Spicy Sweet Potato.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/6/spicy-sweet-potato.html">
                                                    Spicy Sweet Potato
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            The main ingredient is sweet potato
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>12.89</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(6)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Drinks" class="menu-category">
                            <div class="menu-category-title">
                                <div class="bg-image"><img
                                        src="data-images/categories/menu-title-drinks.jpg" alt="">
                                </div>
                                <h2 class="title">Drinks</h2>
                            </div>

                            <div class="menu-category-content padded">
                                <div class="row gutters-sm">
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/55/milk-tea.html">
                                                <img class="mb-4"
                                                     src="data-images/products/MilkTea.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/55/milk-tea.html">
                                                    Milk Tea
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            Tea, milk, sugar, pearls and fruit  ...
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>15.89</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(55)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/56/cappuccino.html">
                                                <img class="mb-4"
                                                     src="data-images/products/capuchino.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/56/cappuccino.html">
                                                    Cappuccino
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            Coffee, milk, cream
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>12.68</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(56)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/57/fruit-juice.html">
                                                <img class="mb-4"
                                                     src="data-images/products/FruitJuice.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/57/fruit-juice.html">
                                                    Fruit Juice
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            Fruit, sugar, ice cold
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>18.39</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(57)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/58/matcha-mojito.html">
                                                <img class="mb-4"
                                                     src="data-images/products/MatchaMojito.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/58/matcha-mojito.html">
                                                    Matcha Mojito
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            White rum, sugar, lemon juice, soda ...
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>15.29</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(58)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/59/cocktail-cafe.html">
                                                <img class="mb-4"
                                                     src="data-images/products/CocktailCafe.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/59/cocktail-cafe.html">
                                                    Cocktail Cafe
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            Base wines, colorants, fragrances,  ...
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>16.39</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(59)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a href="../menu/60/us-beverages.html">
                                                <img class="mb-4"
                                                     src="data-images/products/US-Beveragee.jpg"
                                                     alt="">
                                            </a>

                                            <h6 class="mb-0">
                                                <a href="../menu/60/us-beverages.html">
                                                    US-Beverages
                                                </a>
                                            </h6>
                                            <span class="text-muted text-sm">
                                                            Water, fruit, ice, sugar
                                                        </span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a href="../restaurant/1/essence-restaurant.html">
                                                                <span class="text-sm">
                                                                    Essence Restaurant
                                                                </span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span
                                                        class="text-muted">price</span> $<span
                                                        data-product-base-price>10.59</span></span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button onclick="addCart(60)"
                                                            class="btn btn-outline-secondary btn-sm">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

        <!--  end MAIN HERE -->

</body>


</html>
