<!DOCTYPE html>

<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layout/master}">

<head>

    <!-- Title -->
    <title>Cloud Kitchen | Login</title>

</head>

<body>

    <!-- Content -->
    <div layout:fragment="content" id="content">


        <!--  MAIN HERE -->


        <!-- Page Title -->
        <div class="page-title bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-4">
                        <h1 class="mb-0">Login</h1>
                        <h4 class="text-muted mb-0">Please login to your account</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Forms -->
        <section class="section">

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-10 mb-0 mb-md-0 mx-auto">
                        <div class="example-box">
                            <div class="example-box-content">
                                <form th:action="@{/account/login}" method="post">

                                    <div th:if="${param.error}">
                                        Invalid username and password.
                                    </div>
                                    <div th:if="${param.logout}">
                                        You have been logged out.
                                    </div>

                                    <div class="row">

                                        <div class="form-group col-12">
                                            <label>Username or email</label>
                                            <input name="username" value="" type="text"
                                                   class="form-control" required>
                                        </div>
                                        <div class="form-group col-12">
                                            <label>Password</label>
                                            <input name="password" type="password" class="form-control" required>
                                        </div>

                                        <div class="form-group col-6 mt-3">
                                            <label class="custom-control custom-checkbox">
                                                <input name="remember" type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Remember me</span>
                                            </label>
                                        </div>

                                        <div class="form-group col-6 text-right mt-3">
                                            <a href="../account/reset-password">Forgot password?</a>
                                        </div>

                                        <div class="form-group col-12 form-submit mt-3">
                                            <button type="submit" class="btn btn-primary btn-block"><span>Login</span>
                                            </button>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>

                        <div class="form-group text-center mt-4">

                            New to Cloud-Kitchen?
                            <a href="../account/register" style="text-decoration: underline">
                                <span>Create your account</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </section>


        <!--  end MAIN HERE -->


        <!-- Footer -->
        <footer id="footer" class="bg-dark dark">

            <div class="container">
                <!-- Footer 1st Row -->
                <div class="footer-first-row row">
                    <div class="col-lg-3 text-center">
                        <a href="../"><img src="assets/img/logo-cloud-kitchen.png" alt="" width="88"
                                           class="mt-5 mb-5"></a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-muted">Get Started</h4>
                        <ul class="list-posts">
                            <li>
                                <span><a href="../" class="title text-primary">Home</a></span>
                            </li>
                            <li>
                                <span><a href="../menu" class="title text-primary">Menu</a></span>
                            </li>
                            <li>
                                <span><a href="../restaurant" class="title text-primary">Restaurant</a></span>
                            </li>
                            <li>
                                <span><a href="../about" class="title text-primary">About</a></span>
                            </li>
                            <li>
                                <span><a href="../feedback" class="title text-primary">Feedback</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-muted">Your Account</h4>
                        <ul class="list-posts">
                            <li><span><a href="../account/login" class="title text-primary">Login</a></span></li>
                            <li><span><a href="../account/register" class="title text-primary">Register</a></span></li>
                            <li><span><a href="../account/my-order" class="title text-primary">Order history</a></span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6">

                        <h4 class="text-muted">Contact Us</h4>
                        <ul class="list-posts">
                            <li>
                                <span class="title text-primary">Could Kitchen</span>
                            </li>
                            <li>
                                <span class="title text-primary">8, Ton That Thuyet, My Dinh, Ha Noi</span>
                            </li>
                            <li>
                                <span style="font-variant: lining-nums;"
                                      class="title text-primary"><strong>Phone: </strong>
                                    <a href="../contact">+84 868 6633 15</a>
                                </span>
                            </li>
                            <li>
                                <span class="title text-primary"><strong>Email: </strong>
                                    <a href="../contact">codedy.dev@gmail.com</a>
                                </span>
                            </li>

                        </ul>

                        <a href="../" class="icon icon-social icon-circle icon-sm icon-facebook"><i
                                class="fa fa-facebook"></i></a>
                        <a href="../" class="icon icon-social icon-circle icon-sm icon-google"><i
                                class="fa fa-google"></i></a>
                        <a href="../" class="icon icon-social icon-circle icon-sm icon-twitter"><i
                                class="fa fa-twitter"></i></a>
                        <a href="../" class="icon icon-social icon-circle icon-sm icon-youtube"><i
                                class="fa fa-youtube"></i></a>
                        <a href="../" class="icon icon-social icon-circle icon-sm icon-instagram"><i
                                class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Footer 2nd Row -->
                <div class="footer-second-row">
                    <span class="text-muted">Copyright © Codedy TechWiz 2021</span>
                </div>
            </div>

            <!-- Back To Top -->
            <button id="back-to-top" class="back-to-top"><i class="ti ti-angle-up"></i></button>

        </footer>
        <!-- Footer / End -->

    </div>
    <!-- Content / End -->

</body>

</html>
