<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layout/master}">

<head>

    <!-- Title -->
    <title>Menu</title>

</head>

<body>

        <!--  MAIN HERE -->

    <main layout:fragment="content">

        <!-- Page Title -->
        <div class="page-title bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-4">
                        <h1 class="mb-0">Menu</h1>

                        <h4 class="text-muted mb-0">
                            For all restaurant.
                            <a href="../restaurant">
                                (Select restaurant)
                            </a>
                        </h4>

                    </div>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="page-content">
            <div class="container">
                <form action="" method="get" class="">
                    <input type="hidden" name="restaurant_id" value="">
                    <div class="row text-lg">

                        <div class="col-md-3 col-sm-6 form-group">
                            <label class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input"
                                       name="tag[]"
                                       value="Breakfast"
                                       checked
                                       onchange="this.form.submit();">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Breakfast</span>

                            </label>
                        </div>
                        <div class="col-md-3 col-sm-6 form-group">
                            <label class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input"
                                       name="tag[]"
                                       value="Lunch"
                                       checked
                                       onchange="this.form.submit();">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Lunch</span>

                            </label>
                        </div>
                        <div class="col-md-3 col-sm-6 form-group">
                            <label class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input"
                                       name="tag[]"
                                       value="Dinner"
                                       checked
                                       onchange="this.form.submit();">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Dinner</span>

                            </label>
                        </div>
                        <div class="col-md-3 col-sm-6 form-group">
                            <label class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input"
                                       name="tag[]"
                                       value="Snacks"
                                       checked
                                       onchange="this.form.submit();">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Snacks</span>

                            </label>
                        </div>

                    </div>

                    <div class="row mb-4">
                        <div class="form-group col-sm-12">
                            <input type="text" name="search" value="" placeholder="Search..."
                                   class="form-control">
                        </div>
                    </div>
                </form>

                <div class="row no-gutters">
                    <div class="col-md-3">
                        <!-- Menu Navigation -->
                        <nav id="menu-navigation" class="stick-to-content" data-local-scroll>
                            <ul class="nav nav-menu bg-dark dark">
                                <li th:each="productCategory : ${productCategories}">
                                    <a th:href="@{|${'#' + productCategory.name}|}"
                                       th:text="${productCategory.name}"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-9">

                        <!-- Menu Category -->
                        <div th:each="productCategory : ${productCategories}" th:id="${productCategory.name}" class="menu-category">
                            <div class="menu-category-title">
                                <div class="bg-image"><img
                                        th:src="@{|/front/data-images/categories/${productCategory.image}|}" alt="productCategory.image">
                                </div>
                                <h2 class="title" th:text="${productCategory.name}"></h2>
                            </div>

                            <div class="menu-category-content padded">
                                <div class="row gutters-sm">

                                    <div th:each="product : ${productCategory.products}" th:if="${products.contains(product)}" class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a th:href="@{|/menu/${product.id}|}">
                                                <img class="mb-4"
                                                     th:src="@{|/front/data-images/products/${product.image}|}"
                                                     alt="product.image">
                                            </a>

                                            <h6 class="mb-0">
                                                <a th:href="@{|/menu/${product.id}|}" th:text="${product.name}"></a>
                                            </h6>
                                            <span class="text-muted text-sm" th:text="${product.ingredients}"></span>

                                            <h6 class="pt-1">
                                                            <span class="text-muted text-sm">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                                Restaurant:
                                                            </span>
                                                <a th:href="@{|/restaurant/${product.restaurant.id}|}">
                                                                <span class="text-sm" th:text="${product.restaurant.name}"></span>
                                                </a>
                                            </h6>


                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6">
                                                    <span class="text-md mr-4">
                                                        <span class="text-muted">price</span>
                                                        $
                                                        <span data-product-base-price th:text="${product.price}"></span>
                                                    </span>
                                                </div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                    <button class="btn btn-outline-secondary btn-sm"
                                                            th:onclick="|addCart(${product.id})|">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>

        <!--  end MAIN HERE -->

</body>

</html>
