<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layout/master}">

<head>

    <!-- Title -->
    <title>Home</title>

</head>

<body>

    <!--  MAIN HERE -->

    <main layout:fragment="content">

        <!-- Section - Main -->
        <section class="section section-main section-main-1 bg-light">

            <div class="container dark">
                <div class="slide-container">
                    <div id="section-main-1-carousel-image" class="image inner-controls">
                        <div class="slide">
                            <div class="bg-image"><img src="data-images/photos/slider-pasta.jpg"
                                                       alt=""></div>
                        </div>
                        <div class="slide">
                            <div class="bg-image"><img src="data-images/photos/slider-burger.jpg"
                                                       alt=""></div>
                        </div>
                        <div class="slide">
                            <div class="bg-image"><img src="data-images/photos/slider-dessert.jpg"
                                                       alt=""></div>
                        </div>
                    </div>
                    <div class="content dark">
                        <div id="section-main-1-carousel-content">
                            <div class="content-inner">
                                <h4 class="text-muted">New product!</h4>
                                <h1>Boscaiola Pasta</h1>
                                <div class="btn-group">
                                    <a href="../menu"
                                       class="btn btn-outline-primary btn-lg"><span>Place an Order</span></a>
                                </div>
                            </div>
                            <div class="content-inner">
                                <h1>Get 10% off coupon</h1>
                                <h5 class="text-muted mb-5">and use it with your next order!</h5>
                                <a href="../menu"
                                   class="btn btn-outline-primary btn-lg"><span>Get it now!</span></a>
                            </div>
                            <div class="content-inner">
                                <h1>Delicious Desserts</h1>
                                <h5 class="text-muted mb-5">Order it online even now!</h5>
                                <a href="../menu"
                                   class="btn btn-outline-primary btn-lg"><span>Order now!</span></a>
                            </div>
                        </div>
                        <nav class="content-nav">
                            <a class="prev" href="#"><i class="ti ti-arrow-left"></i></a>
                            <a class="next" href="#"><i class="ti ti-arrow-right"></i></a>
                        </nav>
                    </div>
                </div>
            </div>

        </section>

        <!-- Section - About -->
        <section class="section section-bg-edge">

            <div class="image right col-md-6 offset-md-6">
                <div class="bg-image"><img src="data-images/photos/bg-food.jpg" alt=""></div>
            </div>

            <div class="container">
                <div class="col-lg-5 col-md-9">
                    <div class="rate mb-5 rate-lg"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i
                            class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i>
                    </div>
                    <h2>What do people say about us?</h2>
                    <p class="lead text-muted mb-5">These are the reviews of the people who have used our services, the
                        customer reviews tell us the quality of our service !</p>
                    <div class="blockquotes">
                        <!-- Blockquote -->
                        <blockquote class="blockquote light animated" data-animation="fadeInLeft">
                            <div class="blockquote-content">
                                <div class="rate rate-sm mb-3">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                </div>
                                <p>Very excellent products.</p>
                            </div>

                            <footer>
                                <img
                                        src="data-images/user/DinhHieu8896.jpg"
                                        alt="">
                                <span class="name">Nguyen Dinh Hieu<span class="text-muted"></span></span>
                            </footer>
                        </blockquote>
                        <!-- Blockquote -->
                        <blockquote class="blockquote animated" data-animation="fadeInRight" data-animation-delay="300">
                            <div class="blockquote-content dark">
                                <div class="rate rate-sm mb-3">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>Best solution for online food sale.</p>
                            </div>
                            <footer>
                                <img src="data-images/user/HuyVQTH1909003.jpg"
                                     alt="">
                                <span class="name">Vu Quang Huy<span class="text-muted"></span></span>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

        </section>

        <!-- Section - Steps -->
        <section class="section section-extended right dark">

            <div class="container bg-dark">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Step -->
                        <div class="feature feature-1 mb-md-0">
                            <div class="feature-icon icon icon-primary"><i class="ti ti-shopping-cart"></i></div>
                            <div class="feature-content">
                                <h4 class="mb-2"><a href="../menu">Pick a dish</a></h4>
                                <p class="text-muted mb-0">Please choose a delicious dish that you like from our menu.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Step -->
                        <div class="feature feature-1 mb-md-0">
                            <div class="feature-icon icon icon-primary"><i class="ti ti-wallet"></i></div>
                            <div class="feature-content">
                                <h4 class="mb-2">Make a payment</h4>
                                <p class="text-muted mb-0">Pay for the food you order from our restaurant.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Step -->
                        <div class="feature feature-1 mb-md-0">
                            <div class="feature-icon icon icon-primary"><i class="ti ti-package"></i></div>
                            <div class="feature-content">
                                <h4 class="mb-2">Recieve your food!</h4>
                                <p class="text-muted mb-3">Enjoy your meal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- Section - Menu -->
        <section class="section pb-0 protrude">

            <div class="container">
                <h1 class="mb-6">Our menu</h1>
            </div>

            <div class="menu-sample-carousel carousel inner-controls" data-slick='{
                "dots": true,
                "slidesToShow": 3,
                "slidesToScroll": 1,
                "infinite": true,
                "responsive": [
                    {
                        "breakpoint": 991,
                        "settings": {
                            "slidesToShow": 2,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 690,
                        "settings": {
                            "slidesToShow": 1,
                            "slidesToScroll": 1
                        }
                    }
                ]
            }'>
                <!-- Menu Sample -->
                <div class="menu-sample " style="width: 100%; display: inline-block;">
                    <a href="../menu#Vegetarian">
                        <img style="opacity: 0.5; width: 100%; height: 350px; display: inline-block;"
                             src="data-images/categories/Vegetarian.jpg"
                             alt="" class="image">
                        <h3 class="title">Vegetarian</h3>
                    </a>
                </div>
                <div class="menu-sample " style="width: 100%; display: inline-block;">
                    <a href="../menu#Vegan">
                        <img style="opacity: 0.5; width: 100%; height: 350px; display: inline-block;"
                             src="data-images/categories/Vegan.jpg"
                             alt="" class="image">
                        <h3 class="title">Vegan</h3>
                    </a>
                </div>
                <div class="menu-sample " style="width: 100%; display: inline-block;">
                    <a href="../menu#Chinese">
                        <img style="opacity: 0.5; width: 100%; height: 350px; display: inline-block;"
                             src="data-images/categories/Chinese.jpg"
                             alt="" class="image">
                        <h3 class="title">Chinese</h3>
                    </a>
                </div>
                <div class="menu-sample " style="width: 100%; display: inline-block;">
                    <a href="../menu#Mexican">
                        <img style="opacity: 0.5; width: 100%; height: 350px; display: inline-block;"
                             src="data-images/categories/Mexican.jpg"
                             alt="" class="image">
                        <h3 class="title">Mexican</h3>
                    </a>
                </div>
                <div class="menu-sample " style="width: 100%; display: inline-block;">
                    <a href="../menu#Burgers">
                        <img style="opacity: 0.5; width: 100%; height: 350px; display: inline-block;"
                             src="data-images/categories/menu-title-burgers.jpg"
                             alt="" class="image">
                        <h3 class="title">Burgers</h3>
                    </a>
                </div>
                <div class="menu-sample " style="width: 100%; display: inline-block;">
                    <a href="../menu#Pasta">
                        <img style="opacity: 0.5; width: 100%; height: 350px; display: inline-block;"
                             src="data-images/categories/menu-title-pasta.jpg"
                             alt="" class="image">
                        <h3 class="title">Pasta</h3>
                    </a>
                </div>
                <div class="menu-sample " style="width: 100%; display: inline-block;">
                    <a href="../menu#Pizza">
                        <img style="opacity: 0.5; width: 100%; height: 350px; display: inline-block;"
                             src="data-images/categories/menu-title-pizza.jpg"
                             alt="" class="image">
                        <h3 class="title">Pizza</h3>
                    </a>
                </div>
                <div class="menu-sample " style="width: 100%; display: inline-block;">
                    <a href="../menu#Sushi">
                        <img style="opacity: 0.5; width: 100%; height: 350px; display: inline-block;"
                             src="data-images/categories/menu-title-sushi.jpg"
                             alt="" class="image">
                        <h3 class="title">Sushi</h3>
                    </a>
                </div>
                <div class="menu-sample " style="width: 100%; display: inline-block;">
                    <a href="../menu#Desserts">
                        <img style="opacity: 0.5; width: 100%; height: 350px; display: inline-block;"
                             src="data-images/categories/menu-title-desserts.jpg"
                             alt="" class="image">
                        <h3 class="title">Desserts</h3>
                    </a>
                </div>
                <div class="menu-sample " style="width: 100%; display: inline-block;">
                    <a href="../menu#Drinks">
                        <img style="opacity: 0.5; width: 100%; height: 350px; display: inline-block;"
                             src="data-images/categories/menu-title-drinks.jpg"
                             alt="" class="image">
                        <h3 class="title">Drinks</h3>
                    </a>
                </div>
            </div>
        </section>

        <!-- Section - Offers -->
        <section class="section bg-light">

            <div class="container">
                <h1 class="text-center mb-6">Our chain of stores</h1>
                <div class="carousel" data-slick='{"dots": true}'>
                    <!-- Special Offer -->

                    <a href="../restaurant/1">
                        <div class="special-offer">
                            <img src="data-images/restaurants/EssenceRestaurant.PNG" alt=""
                                 class="special-offer-image">
                            <div class="special-offer-content">
                                <h2 class="mb-2">Essence Restaurant</h2>
                                <h5 class="text-muted mb-5">154 East 79th Street, Manhattan New York, USA</h5>
                                <h5>With an extensive drink menu including fresh fruit shakes, coffee, cocktails and wines, the restaurant guarantees a nutritious meal with delicious food, great service in the right space and brandy , all with the most affordable prices in town.</h5>
                            </div>
                        </div>
                    </a>
                    <a href="../restaurant/2">
                        <div class="special-offer">
                            <img src="data-images/restaurants/ChestnutRestaurant.PNG" alt=""
                                 class="special-offer-image">
                            <div class="special-offer-content">
                                <h2 class="mb-2">Chestnut Restaurant &amp; Sky Bar</h2>
                                <h5 class="text-muted mb-5">35-4, Insadong-gil, Jongno-gu, Seoul, South Korea</h5>
                                <h5>Vegan Chestnut &amp; Sky Bar restaurant serves a variety of meals including salads, skin rolls, sandwiches, vegetarian burgers, lentils bowls and pasta dinner. Serves craft beers, tap water kombucha, cold-pressed smoothies and juices. The kitchen stopped at 9pm.</h5>
                            </div>
                        </div>
                    </a>
                    <a href="../restaurant/3">
                        <div class="special-offer">
                            <img src="data-images/restaurants/poke_hanoi.PNG" alt=""
                                 class="special-offer-image">
                            <div class="special-offer-content">
                                <h2 class="mb-2">Poke Hanoi</h2>
                                <h5 class="text-muted mb-5">11B Hang Khay | Alley | Level 3 Hoan Kiem, Hanoi Vietnam</h5>
                                <h5>Poke Hanoi serves Hawaiian Poke. Poke Is a Hawaiian dish made of raw cube of fish marinated, in sauces. We serve our poke with rice, salads and a variety of toppings which you can choose yourself. Perfect place to eat healthy, we also serve smoothie bowls.</h5>
                            </div>
                        </div>
                    </a>
                    <a href="../restaurant/4">
                        <div class="special-offer">
                            <img src="data-images/restaurants/chopsolder.PNG" alt=""
                                 class="special-offer-image">
                            <div class="special-offer-content">
                                <h2 class="mb-2">Chops Old Quarter</h2>
                                <h5 class="text-muted mb-5">12 Hang Bac Hanoi Old Quarter, Hoan Kiem, Hanoi</h5>
                                <h5>Serving food from 8am until late Chops has got you covered. With our daily brunch menu serving delights from French Toast to a good old English Fry Up. And our burger menu that runs all day serving up the best burgers Hanoi has to offer, or if your feeling a bit healthier they try one of our amazing salads</h5>
                            </div>
                        </div>
                    </a>
                    <a href="../restaurant/5">
                        <div class="special-offer">
                            <img src="data-images/restaurants/BurgersBerlin.jpg" alt=""
                                 class="special-offer-image">
                            <div class="special-offer-content">
                                <h2 class="mb-2">Burgers Berlin</h2>
                                <h5 class="text-muted mb-5">112 Sonntag, Berlin, Germany</h5>
                                <h5>Burgers Berlin is currently a major fast food restaurant. Every day, more than 1000 diners come to Burgers Berlin restaurants to enjoy high quality food, excellent taste and affordable prices. The predecessor was Insta-Burger King, founded by Matthew Burns and Keith J.</h5>
                            </div>
                        </div>
                    </a>
                    <a href="../restaurant/6">
                        <div class="special-offer">
                            <img src="data-images/restaurants/HoangCuisine.PNG" alt=""
                                 class="special-offer-image">
                            <div class="special-offer-content">
                                <h2 class="mb-2">Hoang Cuisine</h2>
                                <h5 class="text-muted mb-5">2nd Floor, 20 Bat Dan Street Hang Bo Ward, Hanoi, Vietnam</h5>
                                <h5>Based on our experiences working in tourism industry, we have many chances to know more about not only culture but also customs from people all over the world coming to Vietnam. We would like to introduce our pride - Vietnamese cuisine to all our friends from different countries.</h5>
                            </div>
                        </div>
                    </a>
                    <a href="../restaurant/7">
                        <div class="special-offer">
                            <img src="data-images/restaurants/tungkitchen.jpg" alt=""
                                 class="special-offer-image">
                            <div class="special-offer-content">
                                <h2 class="mb-2">Green Cuisine</h2>
                                <h5 class="text-muted mb-5">15 Ta Hien, Hang Buom, Hoan Kiem, Hanoi</h5>
                                <h5>Even if diners are willing to pay a minimum of $ 325 per person, it can be difficult to book a table at this food temple. However, it is hard to resist the appeal of Thomas Kellers famous &quot;&quot;Chicken egg salad&quot;&quot;, accompanied by 8 perfect dishes without any repeating ingredients in each dish.</h5>
                            </div>
                        </div>
                    </a>
                    <a href="../restaurant/8">
                        <div class="special-offer">
                            <img src="data-images/restaurants/TheHandpulledNoodle.PNG" alt=""
                                 class="special-offer-image">
                            <div class="special-offer-content">
                                <h2 class="mb-2">The Handpulled Noodle</h2>
                                <h5 class="text-muted mb-5">196 Spring St Soho, New York City, USA</h5>
                                <h5>The Sichuan dishes here look very nice with delicious taste. Diners coming here not only can enjoy the food but also watch the artists performing the painting on the zither in the evening. Sitting on a luxury restaurant, diners eat and drink while watching the skyline.</h5>
                            </div>
                        </div>
                    </a>
                    <a href="../restaurant/9">
                        <div class="special-offer">
                            <img src="data-images/restaurants/xianfood.png" alt=""
                                 class="special-offer-image">
                            <div class="special-offer-content">
                                <h2 class="mb-2">Xian Famous Foods</h2>
                                <h5 class="text-muted mb-5">778 Wall Street, New York, NY, USA</h5>
                                <h5>In fact, Xian Famous Foods has many similarities with Sichuan, but the flavor is different because of its sour taste, many salt grains and the dish often has a small bacon added. When visiting a famous high-class restaurant, visitors should enjoy the restaurants famous dishes such as fish head cooked with crushed eggplant, sauteed pork.</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </section>

        <!-- Section -->
        <section class="section section-lg dark bg-dark">

            <!-- BG Image -->
            <div class="bg-image bg-parallax"><img src="data-images/photos/bg-croissant.jpg" alt="">
            </div>

            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="mb-3">Thank you for using our service!</h2>
                    </div>
                </div>
            </div>

        </section>

    </main>

    <!--  end MAIN HERE -->

</body>

</html>
