<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>menu-item | Component</title>
</head>

<body>

    <!-- Button - Submit -->
    <span th:fragment="submit">
        <button sec:authorize="hasAnyRole('ROLE_HOST', 'ROLE_ADMIN', 'ROLE_STAFF')"

                th:type="submit"

                class="btn-shadow btn-hover-shine btn btn-primary">
            <span class="btn-icon-wrapper pr-2 opacity-8">
                <i class="fa fa-download fa-w-20"></i>
            </span>
            <span>Save</span>
        </button>

        <button sec:authorize="hasAnyRole('ROLE_ADMIN_ReadOnly')"

                th:type="button"
                th:onclick="alert('403 - Forbidden\n\nYou dont have access.\n\nTo access this action, switch to an account with permission. You are signed in as ${_auth_currentUser.username}\nOr contact the administrator for access permission.\n\n| Hiếu iceTea - DinhHieu8896@gmail.com |')"

                class="btn-shadow btn-hover-shine btn btn-primary">
            <span class="btn-icon-wrapper pr-2 opacity-8">
                <i class="fa fa-download fa-w-20"></i>
            </span>
            <span>Save</span>
        </button>
    </span>


    <!-- Button - Delete OnIndex -->
    <span th:fragment="deleteOnIndex">
        <button sec:authorize="hasAnyRole('ROLE_HOST', 'ROLE_ADMIN', 'ROLE_STAFF')"
                class="btn btn-hover-shine btn-outline-danger border-0 btn-sm"

                th:type="submit">
                <span class="btn-icon-wrapper opacity-8">
                    <i class="fa fa-trash fa-w-20"></i>
                </span>
        </button>

        <button sec:authorize="hasAnyRole('ROLE_ADMIN_ReadOnly')"
                class="btn btn-hover-shine btn-outline-danger border-0 btn-sm"

                th:type="button"
                th:onclick="alert('403 - Forbidden\n\nYou dont have access.\n\nTo access this action, switch to an account with permission. You are signed in as ${_auth_currentUser.username}\nOr contact the administrator for access permission.\n\n| Hiếu iceTea - DinhHieu8896@gmail.com |')">
                <span class="btn-icon-wrapper opacity-8">
                    <i class="fa fa-trash fa-w-20"></i>
                </span>
        </button>
    </span>


    <!-- Button - Delete OnShow -->
    <span th:fragment="deleteOnShow">
        <button sec:authorize="hasAnyRole('ROLE_HOST', 'ROLE_ADMIN', 'ROLE_STAFF')"
                class="btn nav-link"

                th:type="submit"
                onclick="return confirm('Do you really want to delete this item?')">
            <span class="btn-icon-wrapper opacity-8">
                <i class="fa fa-trash fa-w-20"></i>
            </span>
            <span class="ml-1">Delete</span>
        </button>

        <button sec:authorize="hasAnyRole('ROLE_ADMIN_ReadOnly')"
                class="btn nav-link"

                th:type="button"
                th:onclick="alert('403 - Forbidden\n\nYou dont have access.\n\nTo access this action, switch to an account with permission. You are signed in as ${_auth_currentUser.username}\nOr contact the administrator for access permission.\n\n| Hiếu iceTea - DinhHieu8896@gmail.com |')">
            <span class="btn-icon-wrapper opacity-8">
                <i class="fa fa-trash fa-w-20"></i>
            </span>
            <span class="ml-1">Delete</span>
        </button>
    </span>

</body>

</html>